* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: beige;
    padding-top: 100px;
}

header {
    justify-content: center;
    margin-bottom: 40px;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.container {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 550px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    padding: 8px;
    background-color: #fff;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid black;
}

form button {
    background-color:  #009432;
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
}

ul {
    width: 100%;
    list-style-position: inside;
}

ul li {
    display: block;
    font-size: 18px;
    padding-top: 8px;
    text-align: center;
    cursor: pointer;
}
